@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
  --colorTop: #1a1e29;
  --colorHigh: #383d4c;
  --colorMidHigh: #626775;
  --colorMedium: #9397a2;
  --colorModerate: #c9cbd1;
  --colorLow: #e4e5e8;
  --colorVeryLow: #f2f2f8;

  --colorPrimary: hsl(211, 81%, 36%);

  --fontDisplay: 'Rubik';
}

body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--colorHigh);
  background-color: var(--colorVeryLow);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Warownia";
  src: local("Helvetica Neue Bold"),
    local("HelveticaNeue-Bold"),
    url('assets/fonts/Warownia.otf');
  font-weight: bold;
}
